.p-20{
  padding:20px;
}

.p-t-20{
  padding-top:20px;
}

.p-t-40{
  padding-top:40px;
}

.m-t-50{
  margin-top:50px !important;
}

.m-b-50{
  margin-bottom:50px;
}

.event > .label{
  margin-top:10px;
}
.event > .content{
  background:#f5f5f5 !important;
  padding:10px;
}

.message{
  border:1px solid rgba(0,0,0, .1);
}

.form-block{
  background:#fafafa;
  border:1px solid rgba(0,0,0, .1);
}
